// About Section
section
                .container.px-5
                    .row.gx-5.justify-content-center
                        .col-xxl-8
                            .text-center.my-5
                                .d-flex.justify-content-center.fs-2.gap-4
                                    a.text-gradient(href="https://www.linkedin.com/in/adilsoncabral1/") 
                                        i.bi.bi-linkedin
                                    a.text-gradient(href="https://github.com/adilsonarc") 
                                        i.bi.bi-github
                                    a.text-gradient(href="https://stackoverflow.com/users/5872281/adilson-cabral") 
                                        i.bi.bi-stack-overflow

footer.bg-white.py-4.mt-auto
    .container.px-5
        .row.align-items-center.justify-content-between.flex-column.flex-sm-row
            .col-auto
                .small.m-0 Copyright &copy; Adilson Cabral 2023
            .col-auto
                a.small(href='#!') Privacy
                span.mx-1 &middot;
                a.small(href='#!') Terms
                span.mx-1 &middot;
                a.small(href='#!') Contact