doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Adilson Cabral Website

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column.h-100.bg-light

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Page Content
            .container.px-5.my-5
                .text-center.mb-5
                    h1.display-5.fw-bolder.mb-0
                        span.text-gradient.d-inline Resume
                .row.gx-5.justify-content-center

                    .col-lg-11.col-xl-9.col-xxl-8

                        // Download Resume Section
                        section
                            .d-flex.align-items-center.justify-content-between.mb-4
                                h2.text-primary.fw-bolder.mb-0
                                // Download resume button
                                // Note: Set the link href target to a PDF file within your project
                                a.btn.text-gradient.px-4.py-3(href='assets/Resume Adilson Cabral.pdf')
                                    .d-inline-block.bi.bi-download.me-2
                                    | Download Resume 
                    
                        // Skills Section
                        section
                            // Skillset Card
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    // Professional skills list
                                    .mb-5
                                        .d-flex.align-items-center.mb-4
                                            .feature.bg-primary.bg-gradient-primary-to-secondary.text-white.rounded-3.me-3
                                                i.bi.bi-tools
                                            h3.fw-bolder.mb-0
                                                span.text-gradient.d-inline Professional Skills
                                        .row.row-cols-1.row-cols-md-3.mb-4
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Web apps
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Microservices
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Cloud | Serverless
                                        .row.row-cols-1.row-cols-md-3
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Event Driven | Reactive
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Security
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 DevOps
                                    // Languages list
                                    .mb-0
                                        .d-flex.align-items-center.mb-4
                                            .feature.bg-primary.bg-gradient-primary-to-secondary.text-white.rounded-3.me-3
                                                i.bi.bi-code-slash
                                            h3.fw-bolder.mb-0
                                                span.text-gradient.d-inline Languages & Tools
                                        .row.row-cols-1.row-cols-md-3.mb-4
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Java | Spring Boot
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Typescript | Angular
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 AWS
                                        .row.row-cols-1.row-cols-md-3
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Docker | kubernetes
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Linux | WSL2
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 GitHub CI/CD | Git

                        // Divider
                        .pb-5

                        // Profile Section
                        section
                            .d-flex.align-items-center.justify-content-between.mb-4
                                h2.text-primary.fw-bolder.mb-0 Profile
                                // Download resume button
                                // Note: Set the link href target to a PDF file within your project
                                //a.btn.btn-primary.px-4.py-3(href='#!')
                                //    .d-inline-block.bi.bi-download.me-2
                                //    | Download Resume

                            // Profile Card 1
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-primary.fw-bolder.mb-2 Career
                                                .small.fw-bolder Software Engineer
                                                .small.text-muted Came a long way still a lot ahead
                                        .col-lg-8
                                            div A decade in Software Development has forged a path through the Java ecosystem, leading to the creation of resilient backend systems and intuitive front-end interfaces.

                            // Profile Card 2
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-primary.fw-bolder.mb-2 Domain experience
                                                .small.fw-bolder Users & Business
                                                .small.text-muted It's all about users and business
                                        .col-lg-8
                                            div Exposure to diverse sectors including governance, risk management, compliance, banking regulations, travel bookings, and ticketing systems has broadened the collective viewpoint, consistently inspiring the development of solutions that deliver excellence and efficiency to users.


                            // Profile Card 3
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-primary.fw-bolder.mb-2 Motivation
                                                .small.fw-bolder Improvement
                                                .small.text-muted Getting better everyday is required
                                        .col-lg-8
                                            div Committed to upholding a high standard of code and operational processes.


                        // Experience Section
                        section
                            .d-flex.align-items-center.justify-content-between.mb-4
                                h2.text-alternative.fw-bolder.mb-0 Experience
                                // Download resume button
                                // Note: Set the link href target to a PDF file within your project
                                //a.btn.btn-primary.px-4.py-3(href='#!')
                                //    .d-inline-block.bi.bi-download.me-2
                                //    | Download Resume

                            // Experience Card 1
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-alternative.fw-bolder.mb-2 Senior Software Develope
                                                .small.fw-bolder SureCloud
                                                .small.text-muted May 2021 – Oct. 2023
                                                .small.text-muted Remote, UK
                                        .col-lg-8
                                            div Fullstack developer in a software dedicated to management of Governance, Risk Management, and Compliance for other companies and institutions. Prioritized rapid implementation and user-friendly design.
                                            br
                                            div Java, Spring, Jooq, Postgres, Liquibase, Gradle, TypeScript, Angular, RxJs, Ag-Grid, Jenkins, GitHub CI, Postman, Jira, Intelij, VSCode
                            // Experience Card 2
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-alternative.fw-bolder.mb-2 Java Software Developer
                                                .small.fw-bolder Aubay consultant at BNP Paribas
                                                .small.text-muted April 2017 – May 2021
                                                .small.text-muted Lisbon, PT
                                        .col-lg-8
                                            div Managed the development and maintenance of a regulatory report management system, which automated the creation of AEOI reports for financial institutions. The system consolidated data from dozens of applications, streamlining the compliance process and enhancing reporting accuracy for regulatory submissions.
                                            br
                                            div Java, Spring, SQL Oracle, Sencha Extjs, JavaScript, Maven, Jira, Git, Subversion
                            // Experience Card 3
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-alternative.fw-bolder.mb-2 Software Developer
                                                .small.fw-bolder ViaTecla
                                                .small.text-muted Sep. 2016 – March 2017
                                                .small.text-muted Almada, PT
                                        .col-lg-8
                                            div Contributed to development and maintenance of multiple customer travel booking websites using Viatecla’s generic products. Tailored specific needs of clients drove product development to stay updated with market trends.
                                            br
                                            div C, .NET, JavaScript, Subversion

                            // Experience Card 4
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-alternative.fw-bolder.mb-2 Software Developer
                                                .small.fw-bolder  Infosistema
                                                .small.text-muted Feb. 2016 - Aug. 2016
                                                .small.text-muted Lisbon, PT
                                        .col-lg-8
                                            div Worked in developing finance and banking systemsx. My responsibilities spanned creating institutional client websites to managing extensive ETL processes for large data sets.
                                            br
                                            div Java, AngularJS, Informatica Powercenter (ETL tool), J2EE, SQL Oracle, Git

                            // Experience Card 5
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-alternative.fw-bolder.mb-2 Software Developer
                                                .small.fw-bolder Link consulting
                                                .small.text-muted Oct. 2014 - Feb. 2016
                                                .small.text-muted Lisbon, PT
                                        .col-lg-8
                                            div At Link Consulting’s Smart Cities unit, Contributed to the development of advanced ticketing system solutions. Our team specialized in technologies leveraging smartcards, RF/Contactless integrations, and mobile platforms.
                                            br 
                                            div Java, Spring, Hibernate, SQL Oracle, JBoss, JSF, Subversion
                        // Education Section
                        section
                            h2.text-secondary.fw-bolder.mb-4 Education
                            
                            // Education Card 1
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                     .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-secondary.fw-bolder.mb-2 Bachelor's in Computer Science
                                                .mb-2
                                                    .small.fw-bolder NOVA School of Science and Technology
                                                    .small.text-muted FCT NOVA
                                                .fst-italic
                                                    .small.text-muted Sep. 2010 – Ago. 2014
                                                    .small.text-muted Lisbon, PT
                                        .col-lg-8
                                            div Gained comprehensive knowledge of operating systems and computer architecture.
                                            br
                                            div Acquired a thorough understanding of computer network structures and their development.
                                            br
                                            div Cultivated strong theoretical and practical expertise in algorithms and data structures
 
        // Footer
        include includes/footer.pug

        include includes/scripts.pug